$mainColor: #303133;
$freeCodeCamp: #006400;
$footer: lighten($mainColor, 70%);
$white: white;
$black: black;
$headerBackground: #222;
$headerLink: #bbb;

@import 'general';
@import 'header';
@import 'codewars';
@import 'github';
@import 'maintenance';
@import 'footer';
