html,
body {
  height: 100%;
}

body {
  background-color: $mainColor;
  color: $mainColor;
  font-family: 'Roboto', sans-serif;
  padding-top: 71px;
}

p {
  font-size: 18px;
}

h2,
h3 {
  margin: 20px 0;
}

em {
  font-style: normal;
  font-weight: bold;
}

ul {
  padding-left: 15px;

  li {
    list-style: none;
    text-overflow: ellipsis;
  }
}

section {
  background-color: $white;
  padding: 100px 0;
}

a.main:hover {
  text-decoration: none;
}

textarea {
  resize: none;
}
